.pexels-paul-ijsendoorn-33041-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 105rem;
  height: 51rem;
  object-fit: cover;
}
.color-overlay {
  background-color: var(--color-gray);
}
.color-overlay,
.hero-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 105rem;
  height: 51rem;
}
.background,
.sample-webpage-submitted-for-child {
  position: absolute;
  background-color: var(--button-text-button-primary-text);
}
.background {
  top: 51rem;
  left: 0;
  width: 105rem;
  height: 195.88rem;
}
.sample-webpage-submitted-for-child {
  top: 77.13rem;
  left: 13.63rem;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
  width: 77.81rem;
  height: 47.75rem;
}
.album-1-component {
  position: absolute;
  top: 93rem;
  left: 19.88rem;
  width: 65.25rem;
  height: 31.88rem;
}
.section-title2 {
  position: absolute;
  height: 35.51%;
  width: 98.58%;
  top: 0;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  height: 42.03%;
  width: 100%;
  top: 57.97%;
  left: 0;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.contact-us {
  position: absolute;
  top: 81.19rem;
  left: 21.81rem;
  width: 42.75rem;
  height: 8.63rem;
}
.sample-webpage-submitted-for-item {
  position: absolute;
  top: 131.94rem;
  left: 13.63rem;
  background-color: var(--button-text-button-primary-text);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
  width: 77.81rem;
  height: 47.75rem;
}
.album-2-component,
.contact-us1 {
  position: absolute;
  top: 147.81rem;
  left: 19.88rem;
  width: 65.25rem;
  height: 31.88rem;
}
.contact-us1 {
  top: 136rem;
  left: 21.81rem;
  width: 42.75rem;
  height: 8.63rem;
}
.sample-webpage-submitted-for-inner {
  position: absolute;
  top: 186.75rem;
  left: 13.63rem;
  background-color: var(--button-text-button-primary-text);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
  width: 77.81rem;
  height: 47.75rem;
}
.album-3-component,
.contact-us2 {
  position: absolute;
  top: 202.63rem;
  left: 19.81rem;
  width: 65.25rem;
  height: 31.88rem;
}
.contact-us2 {
  top: 190.81rem;
  left: 21.81rem;
  width: 42.75rem;
  height: 8.63rem;
}
.you-can-use1 {
  position: absolute;
  height: 42.76%;
  width: 83.77%;
  top: 57.24%;
  left: 0.81%;
  line-height: 1.88rem;
  display: inline-block;
}
.replace-this-with1 {
  position: absolute;
  height: 42.76%;
  width: 100%;
  top: 3.45%;
  left: 0;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.02em;
  line-height: 4.5rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
.banner-text-align-left1 {
  position: absolute;
  top: 13.88rem;
  left: 16.44rem;
  width: 30.81rem;
  height: 18.13rem;
  font-size: var(--font-size-5xl);
  color: var(--button-text-button-primary-text);
}
.text1 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.base1,
.get-started-button {
  display: flex;
  flex-direction: row;
}
.base1 {
  border-radius: var(--br-980xl);
  background-color: var(--color-tan);
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  justify-content: center;
}
.get-started-button {
  position: absolute;
  top: 34.19rem;
  left: 16.44rem;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--button-text-button-primary-text);
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-tan);
  width: 105rem;
  height: 3.5rem;
}
.all-rights-reserved {
  position: absolute;
  top: 1.13rem;
  left: 46.19rem;
  font-weight: 500;
}
.footer {
  position: absolute;
  top: 316.75rem;
  left: 0;
  width: 105rem;
  height: 3.5rem;
  text-align: center;
  font-size: var(--goldman-sans-heading-05-16pt-size);
  color: var(--color-oldlace);
}
.section-title5 {
  position: absolute;
  height: 35.51%;
  width: 39.17%;
  top: 0;
  left: 30.42%;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.section-text-align-center1 {
  position: absolute;
  top: 61.44rem;
  left: 21.81rem;
  width: 61.44rem;
  height: 8.63rem;
  text-align: center;
}
.background1 {
  position: absolute;
  top: 246.88rem;
  left: 0;
  background-color: var(--color-oldlace);
  width: 105rem;
  height: 68rem;
}
.color-overlay1,
.pexels-alex-fu-2479178-1-icon {
  position: absolute;
  top: 246.88rem;
  left: 0;
  width: 50.5rem;
  height: 68rem;
}
.pexels-alex-fu-2479178-1-icon {
  object-fit: cover;
}
.color-overlay1 {
  background-color: var(--color-gray);
}
.contact-us3,
.submit-button {
  position: absolute;
  left: 58.31rem;
}
.contact-us3 {
  top: 257.56rem;
  width: 31.81rem;
  height: 8.63rem;
}
.submit-button {
  top: 269.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--button-text-button-primary-text);
}
.container1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray);
  width: 105rem;
  height: 4.25rem;
}
.gallery,
.home {
  top: 1.44rem;
  font-weight: 500;
  display: inline-block;
}
.home {
  position: absolute;
  left: 75.75rem;
  width: 4.08rem;
  cursor: pointer;
}
.gallery {
  left: 82.63rem;
  width: 5.94rem;
}
.contact,
.gallery,
.logo-icon {
  position: absolute;
  cursor: pointer;
}
.contact {
  top: 1.44rem;
  left: 91.38rem;
  font-weight: 500;
  display: inline-block;
  width: 5.94rem;
}
.logo-icon {
  top: 0.75rem;
  left: 6.01rem;
  width: 3.04rem;
  height: 2.75rem;
  object-fit: cover;
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 105rem;
  height: 4.25rem;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-peachpuff);
}
.sample-webpage-submitted-for {
  position: relative;
  background-color: var(--button-text-button-primary-text);
  width: 100%;
  height: 320.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
}
